body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  background-color: orangered;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.square {
  width: 150px;
  height: 150px;
  background-color: forestgreen;
}

#rectangle {
  height: 10rem;
  width: 15rem;
  background-color: lightcoral;
}